# Activer le moteur de réécriture d'URL
RewriteEngine On

# Forcer HTTPS si ce n'est pas déjà fait par Nginx
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Interdire l'accès direct aux fichiers HTML
<FilesMatch "\.html$">
    Order Allow,Deny
    Deny from all
</FilesMatch>

# Rediriger les requêtes vers /public
RewriteCond %{REQUEST_URI} !^/public/
RewriteCond %{REQUEST_URI} !^/images/
RewriteCond %{REQUEST_URI} !^/dist/
RewriteRule ^(.*)$ public/$1 [L]
